{% extends "/layout.j2" %}

{% block content %}
    <h3>Today's Set Puzzle</h3>
    <div class="set-game container">
        <a class="button button-primary start-button" href="#">Start</a>
        <div class="row">
            {% for card in cards %}
            <div class="card">
                <img src="/static/img/card_{{ card }}.png" />
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}