body {
    background-color: #f0f4fc;
}

.container {
    width: 90%;
}

.card {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.button {
    background-color: #ffffff;
}

.card img {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.1);
}

.card-back-text {
    position: absolute;
    top: 24%;
    left: 28%;
    font-size: 5vw;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 32%;
    }
}

.start-button {
    margin: 0 auto;
}

.card.selected img {
    box-shadow: 0px 0px 5px 3px #58738a;
}

.summary {
    width: 390px;
    border-collapse: collapse;
    margin: 0 auto;
}

.summary, .summary-set {
    border: solid 1px rgba(0,0,0,0.1);
}

.summary .summary-set {
    padding: 0 2px;
    height: 34px;
    width: 33%;
}

.summary-card {
    padding: 2px;
    width: 33%;
}