<html>
    <head>
        <meta charset="utf-8">
        <title>Set</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/normalize.css">
        <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/set.css?now={{ now }}">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
    </head>
    <body>
        <div id="app" data-react="{{ cards|tojson|safe }}"></div>
        <script src="{{ url_for('static', filename='dist/home.js') }}"></script>
    </body>
</html>

